<!-- Este flush será una ventana modal. Y necesitaría saber cómo distinguirla para poder mostrar la ventana modal de "Acceso restringido" -->
<%= flush_the_flash %>



<div class="section">
  <%= form_tag create_session_path do %>
    <%= label_tag :email, 'E-mail' %>
    <%= text_field_tag :email, '', :class => (flash[:alert] ? 'error' : nil) %>
    <span class="password">
      <%= label_tag :password, 'Contraseña' %>
      <%= password_field_tag :password, '', :class => (flash[:alert] ? 'error' : nil) %>
    </span>
    <%= submit_tag 'Entrar', :class => "login" %>
  <% end %>
</div>
