<%= javascript_include_tag "comments" %>

<h5>COMENTARIOS (<%= @post.comments.count %>)</h5>


<% unless logged_in? %>
  <div class="not_logged">
    <h6>¿Quieres <%= (@comments.empty?)? 'ser la primera persona en':'' %> publicar un comentario?</h6>
    <p>Para poder comentar un artículo debes estar registrado, <%= link_to("¡Regístrate!", new_users_path) %></p>
    <p>¿Ya eres un usuario registrado?, <%= link_to("haz login", login_path) %></p>
  </div>
<% end %>

<% @comments.each do |comment| %>
  <div class="comment" id="comment-<%= comment.id %>">
    <span class="avatar">
      <%= image_tag(comment.user.avatar.url) %>
    </span>

    <p class="author"><%= comment.user.signature %> (<%= comment.created_at.strftime("%d/%m/%Y") %>)</p>
    <%= simple_format(auto_link(comment.text, :href_options => {:rel => 'nofollow'})) %>
  </div>
<% end %>

<%= paginate(@comments, :remote => true, :param_name => :comments_page,
                        :params => {:controller => 'comments', :action => 'index', :slug => @post.slug},
                        :window => 10, :outer_window => 4) %>

<% if logged_in?  %>

  <% if @comments.empty? %>
    <h6>Sé la primera persona en realizar un comentario</h6>
  <% end %>

  <div class="logged">
    <% if !@comments.empty? %>
      <h6>Añade un nuevo comentario</h6>
    <% end %>

    <%= form_for @post.comments.new, :remote => true do |f| %>
      <p>máx. <em id="left">500</em> caracteres</p>
      <span class="avatar">
        <%= image_tag(current_user.avatar.url) %>
      </span>

      <%= f.text_area :text, :maxlength => 500 %>
      <%= f.hidden_field :post_id, :value => @post.id %>
      <%= f.submit "publicar comentario" %>
    <% end %>
  </div>

<% end %>