<li <%= cycle('', raw('class="odd"')) %>>
  <%= link_to(post.title, post_path(post)) %> <p>- por <%= post.user.signature %></p>

  <p class="breadcrumb">
    
  <% post.categories.each_with_index do |category,index| %>
    <%= category %>
    <% if index != post.categories.length-1  %>
      <%= image_tag "search/arrow.png", :alt => 'Array join', :class=>'arrow' %>
    <% end %>
  <% end %>
</li>