<%= javascript_include_tag 'search' %>
<%= stylesheet_link_tag "search","ui-theme/jquery-ui",'ui-theme/jquery.ui.datepicker','ui-theme/jquery.ui.theme' %>

<%= render "site/header_page", :title => 'Buscar' %>

<div class="search-box">
  <h3>buscar en todo el site</h3>

  <%= form_tag search_path, :method => :get, :id => 'search' do %>
    <span id="search-value">
      <input type="search" name="q" placeholder="Escribe lo que necesitas" results="5" value="<%= params[:q] %>" />
      <input type="submit" value="buscar" />
    </span>
    <a href="#" class="toggle_filters">mostrar filtros</a>

    <div class="filters">
      <ul>
        <li>
          <%= label_tag "category_videos", "Guía visual" %>
          <%= check_box_tag "categories[videos]", "1", (params[:categories] && params[:categories]["videos"]), :id => "category_videos", :class=>'styled' %>
          <%= label_tag "category_articulos", "Artículos" %>
          <%= check_box_tag "categories[articulos]", "1", (params[:categories] && params[:categories]["articulos"]), :id => "category_articulos", :class=>'styled' %>
          <%= label_tag "category_blog", "Blog" %>
          <%= check_box_tag "categories[blog]", "1", (params[:categories] && params[:categories]["blog"]), :id => "category_blog", :class=>'styled' %>
          <%= label_tag "category_mi_opinion", "Mi opinión" %>
          <%= check_box_tag "categories[mi-opinion]", "1", (params[:categories] && params[:categories]["mi-opinion"]), :id => "category_mi_opinion", :class=>'styled' %>
        </li>
        <li>
          <%= label_tag "from", "Fecha desde" %>
          <input id="date_from" type="text" class="date" />
          <%= select_date Date.parse("2010/1/1"), {:order => [:day, :month, :year], :prefix => 'from'}, :class=>"hidden" %>

          <%= label_tag "to", "Fecha hasta" %>
          <input id="date_to" type="text" class="date" />
          <%= select_date Date.today, {:order => [:day, :month, :year], :prefix => 'to'}, :class=>"hidden" %>

          <%= label_tag "author", "Autor" %>
          <%= text_field_tag "author", params[:author] %>
          <%= link_to "buscar sin filtros", search_path(:q => params[:q]), :id => 'reset-filters' %>
        </li>
      </ul>
      <a href="#" class="toggle_filters">ocultar filtros</a>
    </div>
  <% end %>
</div>


<div class="results">
  <% unless @posts %>
    <p><%= flash[:alert] %></p>
  <% else %>
    <h3>Resultados</h3>
    <p>
      <% if @posts.total_count == 1 %>
        Se ha encontrado un resultado
      <% else %>
        Se han encontrado <em><%= @posts.total_count %></em> resultados
      <% end %>
      de búsqueda para <em><%= params[:q] %></em>
    </p>

    <ul>
      <%= render(:partial => 'post', :collection => @posts) %>
    </ul>

    <a href="<%= url_for(params) %>" style="display:none" rel="pagination">siguiente</a>
  <% end %>
</div>