<% if current_section == "sobre-prowellness" || current_section == "home" %>
	
   <div class="banner-140x100 ads">
	  <p>publicidad</p>
	  <div class="banner">
      	<a href="http://www.aerobicyfitness.com/" target="_blank" rel="nofollow"><%= image_tag "/assets/ads/140x100/140x100-A&F.jpg", :alt => 'Aerobic and fitness' %></a>
      </div>
  
	  <div class="banner">
      	<a href="http://www.mundocrossfit.com/" target="_blank" rel="nofollow"><%= image_tag "/assets/ads/140x100/140x100-Crossfit.jpg", :alt => 'Crossfit' %></a>
      </div>
   </div>


<% elsif current_section == "fitness" || current_section == "ejercicios-mes" ||  current_section == "nutricion" ||  current_section == "mujer" %>
	
   <div class="banner-140x100 ads">
	  <p>publicidad</p>
	  <div class="banner">
      	<a href="http://www.runners.es/" target="_blank" rel="nofollow"><%= image_tag "/assets/ads/140x100/140x100-Runners.jpg", :alt => 'Logo revista Runners' %></a>
      </div>
   
	  <div class="banner">
      	<a href="http://www.eltriatleta.es/" target="_blank" rel="nofollow"><%= image_tag "/assets/ads/140x100/140x100-Triatlon.jpg", :alt => 'Logo revista Triatlón' %></a>
      </div>
   </div>

<% elsif current_section == "guia-visual" %>
	
   <div class="banner-140x100 ads">
	  <p>publicidad</p>
	  <div class="banner">
      	<a href="http://www.functionalzone.com/fzone/Index.action" target="_blank" rel="nofollow"><%= image_tag "/assets/ads/140x100/140x100-FZ.jpg", :alt => 'Functional zone' %></a>
      </div>
   
	  <div class="banner">
      	<a href="http://www.aerobicyfitness.com/" target="_blank" rel="nofollow"><%= image_tag "/assets/ads/140x100/140x100-A&F.jpg", :alt => 'Aerobic fitness' %></a>
      </div>
   </div>

<% elsif current_section == "blog" %>
	
   <div class="banner-140x100 ads">
	  <p>publicidad</p>
	  <div class="banner">
      	<a href="http://entrenalisto.blogspot.com/" target="_blank" rel="nofollow"><%= image_tag "/assets/ads/140x100/140x100-BlogEL.jpg", :alt => 'Blog Entrena y listo' %></a>
      </div>
   
	  <div class="banner">
      	<a href="http://www.myspace.com/portalfitness/blog" target="_blank" rel="nofollow"><%= image_tag "/assets/ads/140x100/140x100-BlogPF.jpg", :alt => 'Blog portal fitness' %></a>
      </div>
   </div>

<% end %>


