<%= javascript_include_tag 'jquery.nivo.slider','articles' %>
<%= stylesheet_link_tag "articles","posts","nivo-slider" %>

<header>
  <span class="left-band"></span>
  <div class="right-band">
    <h2>Artículos</h2>
    <div class="fixed-content">
      <span class="triangle"></span>
    </div>
  </div>
</header>


<% if @main_posts.any? %>
<div class="main_post">
  <div id="slider" class="nivoSlider">
    <% @main_posts.each do |post| %>
      <a href="<%= post_path(post) %>">
        <%= image_tag post.image.rollover.url, :title=> post.title, :alt=> post.excerpt+'...', :link=> post_path(post) %>    
      </a>
    <% end %>
  </div>
  <span class="shadow"></span>
</div>
<% end %>


<% if @posts.any? %>
  <% %W{ fitness mujer nutricion mi-opinion }.each do |category| %>
    <div class="nav-section">
      <span class="scissors <%= category %>"></span>
      <div class="box-options">
      </div>
    </div>
  
    
    <div class="posts <%= category %>">
      <% @posts[category].each do |post| %>
        <div class="post">
          <p><%= translate_category(post.categories.last) %></p>
          <h3><%= link_to(post.title, post_path(post)) %></h3>
          <p>por <%= post.user.signature %></p>
        </div>
      <% end %>

      <p><%= link_to("ver más artículos de #{translate_category(category).downcase}", articles_category_path(category)) %>
    </div>
  <% end %>
<% end %>

<% if @other_posts.any? %>
  <div class="others" id="others">
    <div class="header">
      <h2>Otros artículos</h2>  
    </div>
    <%= render "shared/others" %>  
  </div>
<% end %>