<h2><%= @category %></h2>

<% if @main_posts.any? %>
<div class="main_posts">
  <% @main_posts.each do |post| %>
    <div class="post">
      <p><%= image_tag(post.image.rollover.url) %></p>
      <p><%= link_to(post.title, post_path(post)) %></p>
    </div>
  <% end %>
</div>
<% end %>

<div class="posts">
<% @posts.each do |post| %>
  <div class="post">
    <h2><%= link_to(post.title, post_path(post), :title => post.title) %></h2>
    <p>
      <%= image_tag post.image.heading.url, :alt => post.title %>
    </p>
    <p>
      <%= post.publish_date.strftime("%d/%b/%Y") %>
    </p>
    <%= post.excerpt %> <%= link_to("seguir leyendo", post_path(post), :title => post.title) %>
    <p class="tags"><%= post.tags.join(', ') %></p>
  </div>
<% end %>
</div>

<% if @other_posts.any? %>
<div class="others">
  <h2>Más artículos</h2>
  <ul>
    <% @other_posts.each do |post| %>
    <li class="short_post"><%= link_to(post.title, post_path(post)) %></li>
    <% end %>
  </ul>
</div>
<% end %>