<%= javascript_include_tag 'jquery.nivo.slider','articles' %>
<%= stylesheet_link_tag "articles","posts","nivo-slider" %>

<header>
  <span class="left-band"></span>
  <div class="right-band">
    <h2><%= @category %></h2>
    <div class="fixed-content">
      <span class="triangle"></span>
    </div>
  </div>
</header>

<% if @main_posts.any? %>
<div class="main_post">
  <div id="slider" class="nivoSlider">
    <% @main_posts.each do |post| %>
      <a href="<%= post_path(post) %>">
        <%= image_tag post.image.rollover.url, :title=> post.title, :alt=> post.excerpt+'...', :link=> post_path(post) %>    
      </a>
    <% end %>
  </div>
  <span class="shadow"></span>
</div>
<% end %>

<ul class="posts articles">
  
  <% @posts.each do |post| %>
    <li class="post">
      <div>
        <%= image_tag post.image.heading.url, :alt => post.title %>
        <h2><%= link_to(post.title, post_path(post), :title => post.title) %></h2>
        <p class="date">(<%= post.publish_date.strftime("%d/%m/%y") %>)</p>
        <p class="post"><%= post.excerpt %> ... <%= link_to("seguir leyendo", post_path(post), :title => post.title) %></p>    
        <% if !post.tags.nil? %>
          <ul class="tags">
            <%  post.tags.each do |tag| %>
            <li><%= link_to(tag, tag_path(tag)) %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <span class="shadow"></span>
    </li>
  <% end %>
</ul>

<% if @other_posts.any? %>
  <div class="others" id="others">
    <div class="header">
      <h2>Otros artículos de <%= @category %></h2>  
    </div>
    <%= render "shared/others" %>  
  </div>
<% end %>