<%= javascript_include_tag 'articles' %>
<%= stylesheet_link_tag "articles","posts","nivo-slider" %>

<%= render "site/header_page", :title => 'Ejercicios del mes' %>

<% if @main_post %>
<div class="main_post">
  <div class="no-slider">
    <span class="band-date">
      <p class="month"><%=l @main_post.publish_date, :format => "%b" %></p>
      <p class="year"><%= @main_post.publish_date.strftime("%Y") %></p>
    </span>
    <div class="nivo-caption" style="opacity: 0.8;">
      <h2 style="display: block;"><%= @main_post.title %></h2>
      <%= link_to "leer más", post_path(@main_post) %>
    </div>

    <a href="<%= post_path(@main_post) %>">
      <%= image_tag @main_post.image.rollover.url, :title=> @main_post.title, :alt=> @main_post.excerpt+'...', :link=> post_path(@main_post) %>
    </a>
  </div>
  <span class="shadow"></span>
</div>
<% end %>

<ul class="posts articles month-exercises">
  <% @posts.each do |post| %>
    <li class="post">
      <div>
        <span class="band-date">
          <p class="month"><%=l post.publish_date, :format => "%b" %></p>
          <p class="year"><%= post.publish_date.strftime("%Y") %></p>
        </span>
        <%= image_tag post.image.heading.url, :alt => post.title %>
        <h2><%= link_to(post.title, post_path(post), :title => post.title) %></h2>
        <p class="date">por <%= post.user.signature %></p>
        <p class="post"><%= post.excerpt %> ... <%= link_to("seguir leyendo", post_path(post), :title => post.title) %></p>
        <%= render "site/tags", :post => post %>
      </div>
      <span class="shadow"></span>
    </li>
  <% end %>
</ul>

<% if @other_posts.any? %>
  <div class="others" id="others">
    <div class="header">
      <h2>Artículos de otros meses</h2>
    </div>
    <%= render "shared/others" %>
  </div>
<% end %>