<%= stylesheet_link_tag "blog_posts","posts" %>

<header>
  <span class="left-band"></span>
  <div class="right-band">
    <h2>Blog de Domingo Sánchez</h2>
    <div class="fixed-content">
      <span class="triangle"></span>
    </div>
  </div>

</header>

<ul class="posts blog">
  <% @posts.each_with_index do |post, i| %>

    <li class="<%= i ==  0 ? "main_post" : "post" %>">
      <div>
        <% if i == 0 %>
          <%= link_to(image_tag(post.image.rollover.url, :alt => post.title), post_path(post)) %>
        <% else %>
          <%= link_to(image_tag(post.image.heading.url, :alt => post.title), post_path(post)) %>
        <% end %>

        <h2><%= link_to(post.title, post_path(post), :title => post.title) %></h2>
        <p class="date">(<%= post.publish_date.strftime("%d/%m/%y") %>)</p>

        <p class="post"><%= post.excerpt %> ... <%= link_to("seguir leyendo", post_path(post), :title => post.title) %></p>

        <% if !post.tags.nil? %>
          <ul class="tags">
            <%  post.tags.each do |tag| %>
            <li><%= link_to(tag, tag_path(tag)) %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <span class="shadow"></span>
    </li>
  <% end %>
</ul>

<% if @other_posts.any? %>
  <div class="others">
    <div class="header">
      <h2>Otras entradas en el blog</h2>
    </div>
    <%= render "shared/others" %>
  </div>
<% end %>