<%= stylesheet_link_tag "posts" %>

<%= render "site/header_page", :title => 'Blog de Domingo Sánchez' %>

<div id="header_article">
  <h3>
    <%= @post.title %>
    <em>- por <%= @post.user.signature %></em>
  </h3>
  <div id="date">
    <p class="day"><%= @post.publish_date.strftime("%d") %></p>
    <p class="month"><%=l @post.publish_date, :format => "%b" %></p>
    <p class="year"><%= @post.publish_date.strftime("%Y") %></p>
  </div>


  <% if @post.image? %>
    <div id="article_image">
      <%= image_tag @post.image.heading.url %>
      <span class="shadow"></span>
    </div>
  <% end %>
</div>

<article>
  <span class="white-box"></span>

  <p><%= @post.excerpt.try(:html_safe) %></p>

  <p><%= @post.body.try(:html_safe) %></p>

  <footer>
    <div class="left">
      <% if !@post.tags.nil? %>
        <h5>TAGS</h5>
        <%= render "site/tags", :post => @post %>
      <% end %>
    </div>

    <div class="right">
      <%= render(:partial => "posts/share") %>
    </div>
  </footer>

  <div id="comments">
    <%= render(:partial => "comments/index") %>
  </div>

</article>

<% if @other_posts.any? %>
  <div class="others">
    <div class="header">
      <h2>Otras entradas en el blog</h2>
    </div>
    <%= render "shared/others" %>
  </div>
<% end %>