<%= stylesheet_link_tag "user_data" %>
<%= javascript_include_tag "user" %>

<% if flash[:notice] %>
  <%= render :partial => "shared/success" %>
  <script type="text/javascript">
    MODAL.open('#success_window');
  </script>
<% elsif flash[:alert] %>
  <%= render :partial => "shared/error" %>
  <script type="text/javascript">
    MODAL.open('#error_window');
  </script>  
<% end %>

<% if flash[:success] %>
  <%= render :partial => "shared/account_activated" %>
  <script type="text/javascript">
    MODAL.open('#account_activated');
  </script>
<% end %>

<%= render "site/header_page", :title => 'Modifica tus datos' %>

<div id="user_data" class="edit">
  <header>
    <h3>Completa tu perfil o modifica algún dato</h3>
  </header>
  <%= form_for(@user) do |f| %>
    <div class="field">
      <span class="avatar">
        <%= image_tag @user.avatar.url %>
      </span>
      <%= f.label :avatar, "avatar (55x55)px" %>
      <span class="file">
        <p class="empty">Selecciona una imagen</p>
        <%= f.file_field :avatar %>
        <a class="update_img">selecciona</a>
      </span>
    </div>
    <div class="field">
      <%= image_tag "user/icon-man-woman.png", :alt => 'Sex icon', :class=>'wide' %>
      <label>elige tu sexo</label>

      <div class="options">
        <%= f.radio_button :sex, 0, :class=>'styled' %>
        <%= f.label :sex_0, "hombre" %>
        <%= f.radio_button :sex, 1, :class=>'styled' %>
        <%= f.label :sex_1, "mujer" %>
      </div>
    </div>
    <div class="field">

    </div>
    <div class="field">
      <%= image_tag "user/icon-username.png", :alt => 'Username icon' %>
      <%= f.label :login, "nombre de usuario" %>
      <%= f.text_field :login %>
    </div>
    <div class="field">
      <%= image_tag "user/icon-name.png", :alt => 'Username icon' %>
      <%= f.label :name_and_surname, "nombre y apellidos" %>
      <%= f.text_field :name_and_surname %>
    </div>
    <div class="field">
      <%= image_tag "user/icon-email.png", :alt => 'Email icon' %>
      <%= f.label :email, "email" %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= image_tag "user/icon-password.png", :alt => 'Password icon' %>
      <%= f.label :password, "contraseña" %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= image_tag "user/icon-repassword.png", :alt => 'Repeat password icon' %>
      <%= f.label :password_confirmation, "confirma contraseña" %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.check_box :newsletter, :class=>'styled' %><%= f.label :newsletter, "deseo suscribirme al boletín de noticias" %>
    </div>
    <%= f.submit "guardar datos" %>
  <% end %>
</div>
