<%= stylesheet_link_tag "user_data" %>
<%= javascript_include_tag "library/custom-form-elements","user" %>

<header id="register_band">
  <span class="left-band"></span>
  <div class="right-band">
    <h2>Registro</h2>
    <div class="fixed-content">
      <span class="triangle"></span>
    </div>
  </div>
</header>

<div id="user_data">
  <header>
    <h3>Introduce tus datos para registrarte</h3>
    <a onclick="javascript:void $.scrollTo('#why_register',400);">¿por qué debo registrarme</a>
  </header>
  <%= form_for(@user) do |f| %>
    <div class="field">
      
      <%= image_tag "user/icon-name.png", :alt => 'Username icon' %>
      <%= f.label :name_and_surname, "nombre de usuario" %>
      <%= f.text_field :name_and_surname %>
    </div>
    <div class="field">
      <%= image_tag "user/icon-email.png", :alt => 'Email icon' %>      
      <%= f.label :email, "email" %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= image_tag "user/icon-password.png", :alt => 'Password icon' %>            
      <%= f.label :password, "contraseña" %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= image_tag "user/icon-repassword.png", :alt => 'Repeat password icon' %>
      <%= f.label :password_confirmation, "confirma contraseña" %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">      
      <%= f.check_box :newsletter, :class=>'styled' %><%= f.label :newsletter, "deseo suscribirme al boletín de noticias" %>
    </div>
    <%= f.submit "registrar" %>
  <% end %>
</div>

<div id="why_register">
  <h3>Por qué debes registrarte</h3>
  <ol>
    <li><p>Porque es gratis</p></li>
    <li><p>Sólo si estás registrado/a podrás consultar la guía visual relacionada con los <%= link_to("libros publicados", "#") %>.</p></li>
    <li><p>Porque si no, no podrás comentar los artículos.</p></li>
    <li><p>Estarás al día de todo lo relacionado con el fitness de forma saludable.</p></li>
    <li><p>Porque próximamente recibirás ventajas que ni nosotros conocemos.</p></li>
  </ol>
  
  <a id="ok">Está bien. Me has convencido, quiero registrarme</a>
</div>