<div id="other_posts">
  <ul class="short_post">
    <% @other_posts.each do |post| %>
      <li class="<%= cycle("even", "odd") %>">
        <h4><%= link_to(post.title, post_path(post)) %></h4>
        <% if action_name == 'month_exercises' %>
          <span class="band-date">
            <p class="month"><%= post.publish_date.strftime("%b") %></p>
            <p class="year"><%= post.publish_date.strftime("%Y") %></p>
          </span>
        <% else %>
          <p class="date">(<%= post.publish_date.strftime("%d/%m/%y") %>)</p>
        <% end %>  
          
      </li>
    <% end %>
  </ul>
  <%= posts_pagination(@other_posts) %>
</div>