<div id="extra-mujer" class="content-extra">
   <header>
      <h3>Contenido extra del libro</h3><span class="woman-logo"></span><h3>listo para descargar e imprimir</h3>
      <span class="white-bands"></span>
   </header>	
  
   <ul class="single">
      <li class="header">Listados</li>
      <li><%= link_to "Índice glucémico", "/assets/pdf/extra-mujer/listados/indice-glucemico.pdf" %></li>
      <li class="odd"><%= link_to "Tabla calórica de alimentos", "/assets/pdf/extra-mujer/listados/tabla-calorica.pdf" %></li>
   </ul>

   <ul class="single last">
      <li class="header">Planes de entrenamiento</li>
      <li><%= link_to "Programa básico de fuerza", "/assets/pdf/extra-mujer/planes-entrenamiento/programa-basico-fuerza.pdf" %></li>
      <li class="odd"><%= link_to "Programas de core", "/assets/pdf/extra-mujer/planes-entrenamiento/programas-core.pdf" %></li>
   </ul>
   
   <ul>
      <li class="header">Pautas de alimentación</li>
      <li class="odd kind">Pauta 02</li>
      <li>
         <%= link_to "Desayunos", "/assets/pdf/extra-mujer/pautas-alimentacion/02/p02-desayunos.pdf" %>
         <%= link_to "Snacks", "/assets/pdf/extra-mujer/pautas-alimentacion/02/p02-snacks.pdf" %>
         <%= link_to "Mediodía", "/assets/pdf/extra-mujer/pautas-alimentacion/02/p02-mediodia.pdf" %>
         <%= link_to "Cenas", "/assets/pdf/extra-mujer/pautas-alimentacion/02/p02-cenas.pdf", :class => 'last' %>
      </li>
      <li class="odd kind">Pauta 04</li>
      <li>
         <%= link_to "Desayunos", "/assets/pdf/extra-mujer/pautas-alimentacion/04/p04-desayunos.pdf" %>
         <%= link_to "Snacks", "/assets/pdf/extra-mujer/pautas-alimentacion/04/p04-snacks.pdf" %>
         <%= link_to "Mediodía", "/assets/pdf/extra-mujer/pautas-alimentacion/04/p04-mediodia.pdf" %>
         <%= link_to "Cenas", "/assets/pdf/extra-mujer/pautas-alimentacion/04/p04-cenas.pdf", :class => 'last' %>
      </li>
   </ul>
      

</div>