<%= stylesheet_link_tag "books" %>
<%= javascript_include_tag "books" %>


<%= render "site/header_page", :title => 'Editorial' %>

<h3>Libros publicados por la editorial Prowellness. ¡Compra el tuyo!</h3>

<div class="nav-section">
  <div id="main-book-option" class="box-options">
    <a class="mujer <%= (@book.slug == Book::SLUG_MUJER)? 'current':'' %>" onclick="javascript:showBook(0);"></a>
    <a class="entrenate <%= (@book.slug == Book::SLUG_ENTRENATE)? 'current':'' %>" onclick="javascript:showBook(1);"></a>
  </div>
</div>

<div class="books-box">
  <ol id="index-books">
    <li id="index-mujer" class="<%= (@book.slug == Book::SLUG_MUJER)? 'current':'' %>">
      <a rel="0" onclick="javascript:showBook(0);"></a>
    </li>
    <li id="index-entrenate" class="<%= (@book.slug == Book::SLUG_ENTRENATE)? 'current':'' %>">
      <a rel="1" onclick="javascript:showBook(1);"></a>
    </li>

  </ol>
  <ul id="books">
    <li id="mujer">
      <div class="left">
        <%= image_tag "books/mujer-en-forma.png", :alt => 'Mujer en forma' %>
        <span class="info">
          <p>16 cm x 24 cm</p>
          <p>352 páginas a color</p>
        </span>
      </div>

      <div class="right">
        <%= link_to '', '/assets/mujer-en-forma-muestra.pdf', :target=>'_blank', :class=> 'preview' %>

        <p>Éste es un libro que aborda contenidos específicos de la <strong>mujer</strong> con seriedad, rigor y descubriéndote las adaptaciones del ejercicio de forma fundamentada, amena y con ejemplos prácticos para que sepas qué hacer, cómo hacerlo y, sobre todo, que entiendas por qué hacerlo. Se abordan contenidos de entrenamiento, alimentación y una planificación completa de <strong>38 semanas</strong> con programas de entrenamiento y pautas de alimentación.</p>
        <p>Este libro pretende convertirse en una guía útil para todas aquellas mujeres que desean hacer del ejercicio un hábito en su vida y lo contemplan como algo prioritario a corto, medio y largo plazo.</p>

        <p>Además, si estás registrado a <strong>Prowellness</strong>, podrás consultar sus vídeos <%= link_to 'aquí', visual_guide_editorial_path %></p>

        <%= image_tag "books/paypal.png", :alt => 'Paypal', :class=>'paypal' %>
        
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input name="cmd" type="hidden" value="_s-xclick" /> 
          <input name="hosted_button_id" type="hidden" value="6CXZ7F6DYU6M2" /> 
          <input alt="PayPal. La forma rápida y segura de pagar en Internet." border="0" name="submit" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_buynowCC_LG.gif" type="image" class="buy-now"/> <img alt="" border="0" height="1" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1"/>
        </form>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input name="cmd" type="hidden" value="_s-xclick" /> 
          <input name="hosted_button_id" type="hidden" value="NY5LCR98JCXMA" /> 
          <input alt="PayPal. La forma rápida y segura de pagar en Internet." border="0" name="submit" src="/assets/books/compras-fuera.jpg" type="image" class="buy-outside" />
          <img alt="" border="0" height="1" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" />
        </form>

        <div class="price">
          <h5>25<em>€</em></h5>
          <p>(iva incluído)</p>
        </div>
        <a id="woman_book" class="pay-on-delivery">transferencia bancaria</a>
      </div>
      
    </li>
    <li id="entrenate">
      <div class="left">
        <%= image_tag "books/entrenate.png", :alt => 'Entrénate con Domingo Sánchez' %>
        <span class="info">
          <p>16 cm x 24 cm</p>
          <p>280 páginas a color</p>
        </span>
      </div>

      <div class="right">

        <%= link_to '', '/assets/entrenate-muestra.pdf', :target=>'_blank', :class=> 'preview' %>

        <p><strong>Entrénate</strong> contiene consejos, trucos y respuestas a las preguntas más frecuentes. A través de los diferentes capítulos te llevará, de forma sencilla y amena, a un nivel de conocimiento sobre el ejercicio y sus diferentes adaptaciones que te permitirá desarrollar de forma autónoma contenidos sobre las diferentes cualidades físicas, como la fuerza, cardiovascular o la movilidad articular.</p>
        <p>Sabrás diseñar una pauta de <strong>alimentación</strong> adaptada a cada necesidad y, sobre todo, aprenderás a organizar un programa de entrenamiento y a llevar un estilo de vida saludable a lo largo de toda una temporada, coordinando las diferentes cualidades físicas con la alimentación.</p>

        <p>Además, si estás registrado a <strong>Prowellness</strong>, podrás consultar sus vídeos <%= link_to 'aquí', visual_guide_editorial_path %></p>

        <%= image_tag "books/paypal.png", :alt => 'Paypal', :class=>'paypal' %>

         <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input name="cmd" type="hidden" value="_s-xclick" /> 
            <input name="hosted_button_id" type="hidden" value="88XHA638NZTYL" /> 
            <input alt="PayPal. La forma rápida y segura de pagar en Internet." border="0" name="submit" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_buynowCC_LG.gif" type="image" class="buy-now" /> <img alt="" border="0" height="1" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" />
         </form>


         <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input name="cmd" type="hidden" value="_s-xclick" />
            <input name="hosted_button_id" type="hidden" value="R8KEXHGYG6RT2" /> 
            <input alt="PayPal. La forma rápida y segura de pagar en Internet." border="0" name="submit" src="/assets/books/compras-fuera.jpg" type="image" class="buy-outside" /> 
            <img alt="" border="0" height="1" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" />
         </form>

        <div class="price">
          <h5>22<em>€</em></h5>
          <p>(iva incluído)</p>
        </div>
        <a id="training_book" class="pay-on-delivery">transferencia bancaria</a>
      </div>
    </li>
  </ul>
  <span class="shadow"></span>
</div>
  
<%= render :partial => "extra_woman_content" %>

<% if flash[:error_send] %>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      var id = $('#index-books li.current').attr('id');

      if (id == "index-entrenate"){      
        MODAL.open('#send_training_book');
       }else if (id == "index-mujer"){
        MODAL.open('#send_woman_book');
      }
    });
  </script>
<% end %>


<% if flash[:book_requested] %>
  <%= render :partial => "delivery_modal_success", :locals => {
  :modal_id =>'book_requested'} %>

  <script type="text/javascript" charset="utf-8">
    MODAL.open('#book_requested');  
  </script>
<% end %>

<!-- VENTANAS MODALES -->
<%= render :partial => "delivery_modal", :locals => {
  :modal_id =>'send_training_book', :title => 'Entrenate', :slug => Book::SLUG_ENTRENATE,
  :text => 'Me gustaría comprar el libro de Entrénate y aunque Paypal sea un método seguro que además me permite comprar con mi tarjeta de crédito sin ningún problema, prefiero este método.'
 } %>
<%= render :partial => "delivery_modal", :locals => {
  :modal_id =>'send_woman_book', :title => 'Mujer en forma', :slug => Book::SLUG_MUJER,
  :text => 'Me gustaría comprar el libro de Mujer en forma y aunque Paypal sea un método seguro que además me permite comprar con mi tarjeta de crédito sin ningún problema, prefiero este método.'
 } %>
