<%= flush_the_flash %>

<p>¿Quieres comprar el libro <%= @book.title %></p>

<p>Puedes hacerlo utilizanod paypal...</p>

<p>O mediante <a href="#" class="pay-on-delivery">contrareembolso</a>.</p>

<!-- VENTANA MODAL -->
<div class="window">
  <div id="modal-window" class="register-success">
    <div class="outside"></div>
    <div class="inside">
      <a class="close"></a>
      <%= image_tag "application/modal-window/check-green.png", :alt => 'Check green', :class=>'check-green' %>
      <h2></h2>
      <p>Rellena tu e-mail y tus datos y Domingo te contestará y te enviará el libro.</p>
      <p>
      <%= form_tag(submit_buy_book_path(@book.id), :method => :post) do %>
        <%= text_field_tag :email, nil, :place_holder => "Introduce tu e-mail" %><br />
        <%= text_area_tag :text, nil, :rows => 4, :cols => 80 %><br />
        <%= submit_tag "Enviar" %>
      <% end %>
      </p>
    </div>
  </div>
  <div class="overlay-layer"></div>
</div>
<!-- FIN VENTANA MODAL -->


<script type="text/javascript">
$('.pay-on-delivery').click(function(e){
  MODAL.open();
  e.preventDefault(); e.stopPropagation();
});
</script>