<div style="float:left; margin: 10px 10px;">

<%= form_for [:admin, @post], :html => {:class => 'post', :multipart => true} do |f| %>
  <%= f.label :title, "Título" %>
  <%= f.text_field :title %>

  <%= f.label :excerpt, "Resumen" %>
  <%= f.text_area :excerpt, :rows => 4, :cols => 80 %>

  <%= f.label :body, "Cuerpo" %>

  <%= f.text_area :body, :rows => 22, :cols => 120 %>

  <script type="text/javascript">
    tinyMCE.init({
      mode : "exact",
      elements : "post_excerpt,post_body",
      theme: 'advanced',
      plugins : "advhr, table, advimage, advlist, emotions, paste",
        theme_advanced_buttons1 : "newdocument,|,bold,italic,underline,|,justifyleft,justifycenter,justifyright,fontselect,fontsizeselect,formatselect",
        theme_advanced_buttons2 : "cut,copy,paste,|,bullist,numlist,|,outdent,indent,|,undo,redo,|,link,unlink,anchor,image,|,code,preview,|,forecolor,backcolor",
        theme_advanced_buttons3 : "insertdate,inserttime,|,spellchecker,advhr,,removeformat,|,sub,sup,|,charmap,emotions,pasteword,selectall,tablecontrols",      
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom"
                

    });
  </script>

  <%= f.label :image, "Imagen" %>
  <%= f.file_field :image %>

  <% if @post.image? %>
    <%= image_tag @post.image.list.url %>
  <% end %>

  <%= f.label :categories, "Categoría" %>
  <%= f.select :categories, categories_for_select, { :include_blank => false, :prompt => "Selecciona una categoría", :selected => (f.object.categories.nil? ? nil : f.object.categories.join(",")) } %>

  <%= f.label :tags, "Tags" %>
  <%= f.text_area :tags, :rows => 2, :cols => 40, :value => f.object.tags.try(:join, ",") %>

  <br />
  <%= f.submit "Guardar como borrador", :name => :draft %>
  <%= f.submit "Publicar", :name => :publish %>
  <%= link_to 'Cancelar', admin_posts_path %>
<% end %>

</div>

<div style="overflow:hidden; height:1%; margin: 10px 10px;">
  <h3>Adjuntos</h3>
  <div id="fileupload">
      <form action="<%= attachments_path %>" method="POST" enctype="multipart/form-data">
          <div class="fileupload-buttonbar">
              <label class="fileinput-button">
                  <span>Haz click para subir imágenes...</span>
                  <input type="file" name="image" multiple>
              </label>
          </div>
      </form>
      <div class="fileupload-content">
          <table class="files"></table>
          <div class="fileupload-progressbar"></div>
      </div>
  </div>
  <script id="template-upload" type="text/x-jquery-tmpl">
      <tr class="template-upload{{if error}} ui-state-error{{/if}}">
          <td class="preview"></td>
          <td class="size">${sizef}</td>
          {{if error}}
              <td class="error" colspan="2">${error}
              </td>
          {{else}}
              <td class="progress"><div></div></td>
          {{/if}}
      </tr>
  </script>
  <script id="template-download" type="text/x-jquery-tmpl">
      <tr class="template-download{{if error}} ui-state-error{{/if}}">
          {{if error}}
              <td class="error" colspan="3">Error: ${error}</td>
          {{else}}
              <td class="preview">
                <img src="${thumbnail_url}" />
                <p>${url}</p>
              </td>
          {{/if}}
          <td class="delete">
              <button data-type="${delete_type}" data-url="${delete_url}">Delete</button>
          </td>
          <td class="insert">
            <button data-src="${url}">Insert</button>
          </td>
      </tr>
  </script>
  <hr />
</div>

<% content_for :js do %>

  $.ajax({
    url:"/attachments",
    dataType: 'json',
    success: function(files) {
      var fu = $('#fileupload').data('fileupload');
      fu._renderDownload(files)
        .prependTo($('#fileupload .files'))
        .fadeIn(function () {
          $(this).show();
        });
    }
  });
  $('.template-download td.insert button').live('click',function(e){
    <!-- INSERT IMAGE INTO THE CONTENT ACTION  -->
  });

<% end %>