<div style="float:left; margin: 10px 10px;">

<%= form_for [:admin, @post], :html => {:class => 'post', :multipart => true} do |f| %>
  <%= f.label :title, "Título" %>
  <%= f.text_field :title %>

  <%= f.label :excerpt, "Resumen" %>
  <%= f.text_area :excerpt, :rows => 4, :cols => 80 %>

  <%= f.label :body, "Cuerpo" %>

  <div id="toolbar" style="display: none;">
    <a data-wysihtml5-command="bold" title="CTRL+B">bold</a> |
    <a data-wysihtml5-command="italic" title="CTRL+I">italic</a> |
    <a data-wysihtml5-command="createLink">insert link</a> |
    <a data-wysihtml5-command="insertImage">insert image</a> |
    <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">h1</a> |
    <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">h2</a> |
    <a data-wysihtml5-command="insertUnorderedList">UnorderedList</a> |
    <a data-wysihtml5-command="insertOrderedList">UnorderedList</a>
    <a data-wysihtml5-command="insertVideo">insert video</a> |
    <a data-wysihtml5-command="insertEmbedVideo">insert embed video</a> |    
    <a data-wysihtml5-action="change_view">html view</a>


    <div data-wysihtml5-dialog="createLink" style="display: none;">
      <label>
        Link:
        <input data-wysihtml5-dialog-field="href" value="http://" class="text">
      </label>
      <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div>

    <div data-wysihtml5-dialog="insertImage" style="display: none;">
      <label>
        Image:
        <input data-wysihtml5-dialog-field="src" value="http://" class="text">
      </label>
      <label>
        Align:
        <select data-wysihtml5-dialog-field="className">
          <option value="">default</option>
          <option value="wysiwyg-float-left">left</option>
          <option value="wysiwyg-float-right">right</option>
        </select>
      </label>
      <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div>

    <!-- Insert embed video code dialog -->
    <div data-wysihtml5-dialog="insertEmbedVideo" style="display: none;">
      <label>
        Inserta el código embebido. Recuerda que si es para la guía visual debe medir 311x233

        <!-- we could add the following to our new textarea: <iframe src="http://player.vimeo.com/video/13728146?title=0&amp;byline=0&amp;portrait=0&amp;color=346F87" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
        <textarea data-wysihtml5-dialog-field="src" class="text"></textarea>
      </label>
      <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div>
   
    <!-- Insert video dialog -->
    <div data-wysihtml5-dialog="insertVideo" style="display: none;">
      <label>
        Source del vídeo:
        <input data-wysihtml5-dialog-field="src" value="" class="text">        
      </label>
      <label>
        Width:
        <input data-wysihtml5-dialog-field="width" value="311" class="text">
      </label>
      <label>
        Height:
        <input data-wysihtml5-dialog-field="height" value="233" class="text">        
      </label>
      <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div>

  </div>
  <%= f.text_area :body, :rows => 22, :cols => 120 %>

  <%= f.label :image, "Imagen" %>
  <%= f.file_field :image %>

  <% if @post.image? %>
    <%= image_tag @post.image.list.url %>
  <% end %>

  <%= f.label :categories, "Categoría" %>
  <%= f.select :categories, categories_for_select, { :include_blank => false, :prompt => "Selecciona una categoría" } %>

  <%= f.label :tags, "Tags" %>
  <%= f.text_area :tags, :rows => 2, :cols => 40, :value => f.object.tags.try(:join, ",") %>

  <br />
  <%= f.submit "Guardar como borrador", :name => :draft %>
  <%= f.submit "Publicar", :name => :publish %>
  <%= link_to 'Cancelar', admin_posts_path %>
<% end %>

</div>

<div style="overflow:hidden; height:1%; margin: 10px 10px;">
  <h3>Adjuntos</h3>
  <div id="fileupload">
      <form action="<%= attachments_path %>" method="POST" enctype="multipart/form-data">
          <div class="fileupload-buttonbar">
              <label class="fileinput-button">
                  <span>Haz click para subir imágenes...</span>
                  <input type="file" name="image" multiple>
              </label>
          </div>
      </form>
      <div class="fileupload-content">
          <table class="files"></table>
          <div class="fileupload-progressbar"></div>
      </div>
  </div>
  <script id="template-upload" type="text/x-jquery-tmpl">
      <tr class="template-upload{{if error}} ui-state-error{{/if}}">
          <td class="preview"></td>
          <td class="size">${sizef}</td>
          {{if error}}
              <td class="error" colspan="2">${error}
              </td>
          {{else}}
              <td class="progress"><div></div></td>
          {{/if}}
      </tr>
  </script>
  <script id="template-download" type="text/x-jquery-tmpl">
      <tr class="template-download{{if error}} ui-state-error{{/if}}">
          {{if error}}
              <td class="error" colspan="3">Error: ${error}</td>
          {{else}}
              <td class="preview">
                <img src="${thumbnail_url}" />
              </td>
          {{/if}}
          <td class="delete">
              <button data-type="${delete_type}" data-url="${delete_url}">Delete</button>
          </td>
          <td class="insert">
            <button data-src="${url}">Insert</button>
          </td>
      </tr>
  </script>
  <hr />
</div>

<% content_for :js do %>
  var editor = new wysihtml5.Editor("post_body", {
    toolbar:      "toolbar",
    stylesheets:  "/assets/wysihtml5/stylesheet.css",
    parserRules:  wysihtml5ParserRules
  });

  $.ajax({
    url:"/attachments",
    dataType: 'json',
    success: function(files) {
      var fu = $('#fileupload').data('fileupload');
      fu._renderDownload(files)
        .prependTo($('#fileupload .files'))
        .fadeIn(function () {
          $(this).show();
        });
    }
  });
  $('.template-download td.insert button').live('click',function(e){
    wysihtml5.commands.insertLineBreak.exec(editor.currentView.element, "insertLineBreak");
    wysihtml5.commands.insertImage.exec(editor.currentView.element, "insertImage", $(this).data('src'));
    wysihtml5.commands.insertLineBreak.exec(editor.currentView.element, "insertLineBreak");
  });

<% end %>