<li class="post <%= cycle('', raw('odd ')) %><%= translate_category(post.categories[1]).downcase %>">
  <div>
    <span class="video">
      <%= post.body.try(:html_safe) %>
    </span>
    <h2><%= link_to(post.title, post_path(post), :title => post.title) %></h2>
    <p class="date">(<%= post.publish_date.strftime("%d/%m/%y") %>)</p>
    <p class="post"><%= post.excerpt %></p>
    <%= render "site/tags", :post => post %>
    <%= link_to("", visual_guide_category_path(post.to_home_params), :class => css_class(post)) %>
  </div>
  <span class="shadow"></span>
</li>