<%= stylesheet_link_tag "visual-guide","visual-guide-editorial" %>
<%= javascript_include_tag 'visual-guide-editorial' %>

<%= render "site/header_page", :title => 'Guía visual' %>

<% if @posts.any? %>
  <% %W{ abdominales estiramientos }.each do |category| %>

    <div id="section-<%= category %>" class="nav-section">
      <span class="scissors <%= category %>"></span>
      <div class="box-options">
        <a class="option <%= (category.eql? 'abdominales')? 'current' : '' %>" onclick="javascript:void $.scrollTo('#section-abdominales',400);">Abdominales</a>
        <a class="option <%= (category.eql? 'estiramientos')? 'current' : '' %>" onclick="javascript:void $.scrollTo('#section-estiramientos',400);">Estiramientos</a>
        <a class="option" onclick="javascript:void $.scrollTo('#section-editorial',400);">Editorial</a>
      </div>
    </div>

    <ul class="videos">
      <% @posts[category].each do |post| %>
        <li class="post <%= cycle('', raw('odd ')) %><%= category %>">
          <div>
            <span class="video">

            </span>
            <h4><%= translate_category(category) %></h4>
            <h2><%= link_to(post.title, post_path(post)) %></h2>
            <p class="date">por <%= post.user.signature %></p>
            <%= simple_format(post.excerpt) %>
            <% if !post.tags.nil? %>
              <ul class="tags">
                <%  post.tags.each do |tag| %>
                <li><%= link_to(tag, tag_path(tag)) %></li>
                <% end %>
              </ul>
            <% end %>
            <%= link_to("", visual_guide_category_path(post.to_home_params), :class => css_class(post)) %>
          </div>
          <span class="shadow"></span>
        </li>
      <% end %>
      <%= link_to("ver más vídeos sobre #{translate_category(category).downcase}", visual_guide_category_path(category), :class=>'view-more') %>
    </ul>
  <% end %>
<% end %>


<div id="section-editorial" class="nav-section">
  <span class="scissors editorial"></span>
  <div class="box-options">
    <a class="option" onclick="javascript:void $.scrollTo('#section-abdominales',400);">Abdominales</a>
    <a class="option" onclick="javascript:void $.scrollTo('#section-estiramientos',400);">Estiramientos</a>
    <a class="option current" onclick="javascript:void $.scrollTo('#section-editorial',400);">Editorial</a>
  </div>
</div>

<div class="editorial-videos">
  <%= render(:template => "book_videos/index") %>
  <%= link_to("consulta los vídeos de la editorial", visual_guide_editorial_path,:class=>'view-more') %>
</div>

