<header>
  <span class="left-band"></span>
  <div class="right-band">
    <h2>Guía visual</h2>
    <div class="fixed-content">
      <span class="triangle"></span>
    </div>
  </div>
</header>

<ul class="sections">
  <li><%= link_to("Abdominales",   visual_guide_category_path("abdominales"), :class => "selected") %></li>
  <li><%= link_to("Estiramientos", visual_guide_category_path("estiramientos")) %></li>
  <li><%= link_to("Editorial",     visual_guide_category_path("editorial")) %></li>
</ul>

<% if @posts.any? %>
  <% %W{ abdominales estiramientos }.each do |category| %>
    <div class="posts <%= category %>">
      <% @posts[category].each do |post| %>
        <div class="post">
          <p><%= translate_category(category) %></p>
          <h3><%= link_to(post.title, post_path(post)) %></h3>
          <p>por <%= post.user.signature %></p>
          <%= simple_format(post.excerpt) %>
          <!-- #nivel1, nivel2, pantorillas... -->
          <p><%= translate_category(post.categories.last).split(' - ').first %></p>
        </div>
      <% end %>

      <p><%= link_to("ver más vídeos sobre #{translate_category(category).downcase}", visual_guide_category_path(category)) %>
    </div>
  <% end %>
<% end %>

<%= render(:template => "book_videos/index") %>

<p><%= link_to("consulta los vídeos de la editorial", visual_guide_editorial_path) %></p>
