<%= stylesheet_link_tag "posts", "visual-guide" %>

<%= render "site/header_page", :title => 'Guía visual de '+translate_category(@post.categories[1]) %>

<div id="header_article" class="visual-guide <%= translate_category(@post.categories[1]).downcase %>">
  <h3>
    <%= @post.title %>
    <em>- por <%= @post.user.signature %></em>
  </h3>

  <div id="date">
    <p class="day"><%= @post.publish_date.strftime("%d") %></p>
    <p class="month"><%= @post.publish_date.strftime("%b") %></p>
    <p class="year"><%= @post.publish_date.strftime("%Y") %></p>
  </div>
  <%= link_to("", visual_guide_category_path(@post.to_home_params), :class => css_class(@post)) %>
</div>
<div id="intro_article">
  <p><%= @post.excerpt.try(:html_safe) %></p>
</div>

<article>
  <p><%= @post.body.try(:get_video_bigger).try(:html_safe) %></p>

  <footer>
    <div class="left">
      <% if !@post.tags.nil? %>
        <h5>TAGS</h5>
        <ul class="tags">
          <%  @post.tags.each do |tag| %>
          <li><%= link_to(tag, tag_path(tag)) %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="right">
      <%= render(:partial => "posts/share") %>
    </div>
  </footer>

  <div id="comments">
    <%= render(:partial => "comments/index") %>
  </div>

</article>

<% if @other_posts.any? %>
  <div class="others" id="others">
    <div class="header">
      <h2>Vídeos relacionados (<%= @other_posts.total_count %>)</h2>
    </div>
    <%= render "shared/others" %>
  </div>
<% end %>