<%= javascript_include_tag 'easySlider1.7','about' %>
<%= stylesheet_link_tag "about" %>

<%= render "site/header_page", :title => 'Sobre prowellness' %>

<article>
  
  <!-- ****************************** QUÉ ES -->
  <%= render "about_sections", :current_section=>'que-es' %>
  <p><b>Prowellness</b> es un portal de estilo de vida donde se pretende ofrecer información en todo lo relacionado con la actividad física y la salud. El objetivo no es solo de transmitir ejercicios y recursos, sino también, y este es el verdadero valor, la pretensión de conseguir educar, elevando los conocimientos y comprendiendo los fundamentos del ejercicio físico. El resultado final perseguido es conseguir elevarse en la espiral de conocimiento.</p>

  <h3>Domingo Sánchez, creador de Prowellness</h3>
 
 <div class="image-domingo-pensativo">
    <%= image_tag "about/domingo-pensativo.jpg", :alt => 'Domingo Sánchez' %>
  </div>

  <p><b>Prowellness</b> es un portal de estilo de vida donde se pretende ofrecer información en todo lo relacionado con la actividad física y la salud. <b>Prowellness</b> es el resultado de mi experiencia personal a lo largo de varios años en este sector, donde abunda la información de qué hacer, algo de cómo hay que hacerlo y nada de llegar a comprender porqué hacerlo. Tanto los contenidos de este portal, como el transmitido en las diferentes publicaciones, además de ofrecer recursos, ejercicios y de indicar cómo se hacen, intenta hacer comprender el por qué de lo que está haciendo, solo así, se conseguirá la autonomía personal, llegando a sacar conclusiones y participando de forma activa y consciente en la generación y aplicación de contenidos.
  </p>

  <p><b>Prowellness</b> nace como idea y ahora como realidad. Pretende ser un portal de acceso a la información, un asistente y sobre todo, un generador de recursos que puedan ser aplicados en complemento a los manuales publicados y los que acontecerán.El objetivo no es solo de transmitir ejercicios y recursos, sino también, y este es el verdadero valor, la pretensión de conseguir educar, elevando los conocimientos y comprendiendo los fundamentos del ejercicio físico. El resultado final perseguido es conseguir elevarse en la espiral de conocimiento.</p>

  <h3>Subir en la espiral para conseguir los objetivos</h3>
  
  <p>Ofrecer información permite subir en la espiral de conocimiento. Solo cuando estamos en esta fase de desarrollo, de motivación, es cuando necesitamos más información, más recursos, los manuales tan solo son un medio más que será necesario para mantenerse en esta inercia y así llegar a cambiar nuestros hábitos, nuestra vida, nuestro ser.
  </p>
  <p>El presente web representa la proyección visual de los contenidos de los manuales. Una herramienta que permite darle "vida" al texto estático de los libros, complementando así la información y permitiendo un desarrollo continuo tomando como base los contenidos de los manuales.</p>
  
  <h3>Vía de comunicación</h3>
  
  <p>Prowellness es un proyecto personal, a través de los contenidos y opiniones personales del blog, permite una via de comunicación y sobre todo la posibilidad no solo de transmitir unos conocimientos, sino ideas y forma de entender el ejercicio y un estilo de vida saludable. Espero sinceramente que pueda servirte de ayuda en alguna de sus partes.
  </p>
  <p>Finalmente, Prowellness queda abierta a sugerencias y opiniones que puedan aportar ideas y crecimiento que nos enriquezca en este apasionante mundo.</p>

  <!-- ****************************** DOMINGO -->
  
  <%= render "about_sections", :current_section=>'domingo' %>
  
  <div class="image-domingo">
    <%= image_tag "about/domingo-front.jpg", :alt => 'Domingo Sánchez' %>
  </div>

  <p><b>Domingo Sánchez</b> es Licenciado en Ciencias de la Actividad Física y el Deporte (Universidad Politécnica de Madrid) y Master de Experto en Actividad Física y Salud (Universidad Complutense de Madrid)</p>

  <p>Especializado en el área del Fitness y la Salud, hoy en día es una referencia en el área del entrenamiento.</p>

  <p>Referenciado en su faceta de formación, es profesor ponente habitual en congresos y convenciones, y profesor colaborador en Facultades de Ciencias de la Actividad Física; INEF de Madrid, Facultad de Toledo y Universidad Europea CES.</p>

  <p>Es autor de varios libros sobre actividad física y salud, entrenamiento, nutrición y pedagogía, ha editado audiovisuales, y publica continuamente artículos en revistas del sector sobre entrenamiento, gestión técnica y promoción de la actividad física relacionada con el fitness y la salud en centros deportivos.</p>

  <p>Actualmente es responsable del área de fitness de la revista y web de Sport Life y desarrolla una intensa labor formativa con el concepto BASE donde ha desarrollado sus propios métodos y programas, tanto para salas de fitness como en clases colectivas.</p>
  
  <!-- ****************************** LIBROS PROWELLNESS -->
  
  <%= render "about_sections", :current_section=>'libros-prowellness' %>
  <div class="book-select">
    <div id="main-book-option" class="box-options">
      <a class="mujer current" onclick="javascript:showBook(0);"></a>
      <a class="entrenate" onclick="javascript:showBook(1);"></a>
    </div>
  </div>

  <div class="book_gallery">
    <span class="drop"></span>
    <div id="books_prowellness" class="gallery">
      	<ul>				
  				<li>
            <div class="inside">
    				  <%= link_to(image_tag('about/mujer-book.png', :alt => 'Libro Mujer en forma'), buy_book_path('mujer'), :class=>'image') %>
              <div class="buy">
                <p>Si aún no lo tienes, puedes comprarlo <%= link_to 'aquí',buy_book_path('mujer') %></p>
                <%= image_tag "application/credit-card.png", :alt => 'Credit card' %>
              </div>
              <h3><%= link_to 'Mujer en forma', buy_book_path('mujer') %></h3>
              <p>Editorial Prowellness</p>
              <p>Madrid, 2011</p>
            </div>
  				</li>
          <li>
            <div class="inside">
              <%= link_to(image_tag('about/entrenate-book.png', :alt => 'Libro entrénate'), buy_book_path('entrenate'), :class=>'image') %>
              <div class="buy">
                <p>Si aún no lo tienes, puedes comprarlo <%= link_to 'aquí',buy_book_path('entrenate') %></p>
                <%= image_tag "application/credit-card.png", :alt => 'Credit card' %>
              </div>
              <h3><%= link_to 'Entrénate', buy_book_path('entrenate') %></h3>
              <p>Editorial Prowellness</p>
              <p>Madrid, 2010</p>
            </div>
          </li>
  			</ul>
    </div>
    <span class="shadow"></span>
  </div>
   <!-- ****************************** TRAYECTORIA PROFESIONAL -->
  <%= render "about_sections", :current_section=>'trayectoria' %>   
  
  <div class="career">
    <ul>
      <li>
        <div class="left">
          <h4>1992</h4>  
        </div>
        <div class="right">
          <h5>Licenciado en Ciencias de la Actividad Física y el Deporte.</h5>
          <p>Instituto Nacional de Educación Física (I.N.E.F.) de Madrid.</p>
          <p class="data">Universidad Politécnica</p>
          <p>Promoción 1992 / 1997.</p>
          
          <figure>
            <%= image_tag "about/domingo-92.jpg", :alt => 'Domingo Sánchez' %>  
          </figure>
          

          <p>Durante los años de estudio de la licenciatura se inicia en el sector del Fitness impartiendo clases colectivas de aerobic, step, tonificación, etc.</p>

          <p>Posteriormente comienza a impartir curso de formación con diferentes entidades orientadas a la formación de técnicos especialistas en aerobic y salas de fitness; Federación Madrileña de Gimnasia, ORTHOS, IFBB, Forodeporte, M.E.C., etc</p>
        </div>
        
      </li>
      
      <li>
        <div class="left">
          <h4>2001</h4>  
        </div>
        <div class="right">
          <h5>Competiciones</h5>
          
          <p>Después de dedicarse a la preparación de varios competidores de Fitness, en 2001 compite en la modalidad de Fitness atlético. Donde alcanza el 4º puesto en la FIBO y 3º en el Olimpia del 2001</p>
          
          <figure>
            <%= image_tag "about/domingo-olimpia.jpg", :alt => 'Domingo Sánchez concursando en Mr Olimpia' %>
          </figure>
          
          <figure class="last">
            <%= image_tag "about/domingo-olimpia-2.jpg", :alt => 'Domingo Sánchez concursando en Mr Olimpia'%>          
          </figure>
  
        </div>
        
      </li>

      <li>
        <div class="left">
          <h4>2002</h4>  
        </div>
        <div class="right">
          <h5>Certificación Polar</h5>
          <figure>
            <%= image_tag "about/certificacion-polar.jpg", :alt => 'Domingo Sánchez con Alex Ventura'%>    
            <figcaption>
              Junto a Alex Ventura en una de las formaciones de Polar
            </figcaption>
          </figure>
          <p>Se certifica Polar Own Zone Master Guide por Polar Electro Oy Internacional en el 2do. Campus Internacional en Grecia donde se reúnen profesionales de toda Europa.</p>

          <p>A raíz de ahí, imparte cursos de entrenamiento con Pulsómetros Polar desde 2002 a 2005.</p>
        </div>
      </li>      
      
      <li>
        <div class="left">
          <h4>2003</h4>  
        </div>
        <div class="right">
          <h5>Entrenamiento funcional</h5>
           <figure>
              <%= image_tag "about/seminario.jpg", :alt => 'Seminario'%>    
            </figure>
          
          <!-- <figure>
            <%= image_tag "about/complutense-logo.jpg", :alt => 'Logo de la complutense'%>    
          </figure> -->
          <p><b>Curso Postgrado; Experto en Actividad Física y Salud.</b></p>
          <p>Facultad de Enfermería, Fisioterapia y Podología.</p>
          <p class="data">Universidad Complutense de Madrid.</p>
          <p class="data">Curso 2003 / 2004</p>

          <p>A partir de este año, centra su proyección profesional en la formación de Entrenadores Personales y se especializa en el desarrollo del <b>"entrenamiento funcional"</b></p>

          <p>Desde entonces ha colaborado con diferentes organizaciones en la formación de cursos, seminarios y certificaciones de Entrenadores Personales:</p>

          <p>Junto a la Dr. Susana Aznar y el Dr. José López Chicharro, organiza e imparte la Certificación de Entrenador Personal UCM <b>Universidad Complutense de Madrid</b>. Cursos 2004 a 2006.</p>
            
          <ul>
            <li>Convenciones internacionales <b>FEDA</b> y <b>PLANETA FITNESS</b>.</li>
            <li>Wellness Institute de Technogym.</li>
            <li>GEDO.</li>
            <li>Programas Forodeporte y Enformate de la Comunidad de Madrid.</li>
            <li>Formación continua del profesorado, Ministerio de Educación y Ciencia.</li>
          </ul>

          <figure>
            <%= image_tag "about/ejercicios-varios.jpg", :alt => 'Ejercicios con Domingo Sánchez'%>    
          </figure>          
        </div>
      </li>
      
      <li>
        <div class="left">
          <h4>2006</h4>  
        </div>
        <div class="right">
          <h5>Dirección técnica</h5>
          <figure>
            <%= image_tag "about/ingesport-logo.jpg", :alt => 'Ingesport logo'%>    
          </figure>
          <p>Asume la dirección técnica de <b><%= link_to '"INGESPORT"','http://www.ingesport.es', :target=>'_blank' %>, health & spa consulting"</b> implantando y desarrollado programas de gestión de modelos de valoración y prescripción del ejercicio en los Centros de Fitness gestionados por la compañía.</p> 
          <br />
          <p>Entre ellos CorpoWellness como centro deportivo de la ciudad de Telefónica en Madrid y GoFit, también en Madrid. <%= link_to '(www.ingesport.es)','http://www.ingesport.es', :target=>'_blank' %></p>

        </div>
      </li>
      
      <li>
        <div class="left">
          <h4>2008</h4>  
        </div>
        <div class="right">
          <h5>Spiral FT y Sport Life</h5>
          
          <ul class="webs">
            <li class="first">
              <figure>
                <%= link_to (image_tag "about/spiral-logo-screen.jpg", :alt => 'Spiral Fitness'),'http://www.spiralft.com/', :target=>'_blank' %>    
              </figure>
              <p>Crea el modelo de Entrenamiento Funcional en Espiral, establecido por niveles impartiendo cursos de certificación para entrenadores personales y centros de fitness. Puedes averiguar más sobre esto en <%= link_to 'www.spiralft.com', 'http://www.spiralft.com/', :target=>'_blank'%></p> 
            </li>
            <li>
              <figure>
                <%= link_to (image_tag "about/sportlife-screen-logo.jpg", :alt => 'Spiral Fitness'),'http://www.sportlife.es/', :target=>'_blank' %>    
              </figure>
              <p>Abandona el campo de la gestión para dedicarse por completo a la formación y publicación de artículos y libros. Se encarga del área de fitness tanto en la web como en la revista <%= link_to 'Sport Life', 'http://www.sportlife.es/', :target=>'_blank'%>.</p> 
            </li>
          </ul>
        </div>
      </li>
      
      <li>
        <div class="left">
          <h4>2010</h4>  
        </div>
        <div class="right">
          <h5>Crea la editorial Prowellness</h5>
          <figure>
            <%= image_tag('about/logo-editorial-prowellness.png', :alt => 'Logo editorial Prowellness') %>
          </figure>
          <p>Crea la editorial <b>PROWELLNESS</b>, con la publicación del primer libro <%= link_to '"Entrénate" (2010)', buy_book_path('entrenate') %> al que le seguirá <%= link_to '"Mujer en forma, el reto" (2011)', buy_book_path('mujer') %></p>
          <br/><br/>
          
        </div>
      </li>
      <li>
        <div class="left">
          <h4>Actualmente</h4>  
        </div>
        <div class="right">
          <br/><br/><br/>
          <p>Hoy en día se encuentra desarrollando los próximos títulos:</p>
          <ul>
            <li>Core Training</li>
            <li>Estiramientos y movilidad articular</li>
            <li>Entrenamiento Funcional para todos</li>
            <li>Guía de los ejercicios de musculación</li>
          </ul>
        </div>
      </li>      
      
    </ul>
    
    
    <div class="other">
      <h3>Otros libros publicados</h3>

      <div class="book_gallery">
        <div id="other_books" class="gallery">
          	<ul>				
      				<li>
                <div class="inside">
        				  <%= image_tag('about/bases-aerobic.png', :alt => 'Bases de la enseñanza para el aerobic') %>
                  <h3>Bases para la enseñanza del aeróbic</h3>
                  <p>Editorial Gymno</p>
                  <p>Madrid, 1999</p>
                </div>
      				</li>
      				<li>
                <div class="inside">
        				  <%= image_tag('about/abdominal-system.png', :alt => 'Abdominal System, Trabajo de la musculatura abdominal') %>
                  <h3>Abdominal System, Trabajo de la musculatura abdominal</h3>
                  <p>Mega Fitness</p>
                  <p>3ª Edición. Madrid, 2005</p>
                </div>
      				</li>
      				<li>
                <div class="inside">
        				  <%= image_tag('about/suplementos-deportiva.png', :alt => 'Suplementos: Revolución Deportiva') %>
                  <h3>Suplementos: Revolución Deportiva</h3>
                  <p>Mega Fitness</p>
                  <p>Madrid, 2003</p>
                </div>
      				</li>
      				<li>
                <div class="inside">
        				  <%= image_tag('about/ultimate-personal-trainer.png', :alt => 'Ultimate Personal Trainer') %>
                  <h3>Ultimate Personal Trainer: Valoración, prescripción y diseño de programas</h3>
                  <p>Mega Fitness</p>
                  <p>Madrid, 2003</p>
                </div>
      				</li>
      				<li>
                <div class="inside">
        				  <%= image_tag('about/abdominales-todos.png', :alt => 'Abdominales para todos') %>
                  <h3>Abdominales para todos</h3>
                  <p>Libros Cúpula. Editorial Planeta.</p>
                  <p>Madrid, 2009</p>
                </div>
      				</li>
              <li>
                <div class="inside">
                  <%= image_tag('about/gedoc-book.png', :alt => 'La ruta del management en el fitness') %>
                  <h3>La ruta del Management en el fitness</h3>
                  <p>Pablo López de Viñaspre</p>
                  <p>Mercado Fitness</p>
                  <p>Buenos Aires, 2009</p>
                  <p><em>Colaborador</em></p>
                </div>
              </li>              
      			</ul>
        </div>
        <span class="shadow"></span>
      </div>
    </div>
    
  </div>
    
</article>

 
  
 