<%= javascript_include_tag 'jquery.nivo.slider','articles' %>
<%= stylesheet_link_tag "articles","blog_posts","posts","visual-guide","nivo-slider" %>


<%= render "site/header_page", :title => 'Últimos artículos' %>


<% if @main_posts.any? %>
<div class="main_post">
  <div id="slider" class="nivoSlider">
    <% @main_posts.each do |post| %>
      <a href="<%= post_path(post) %>">
        <%= image_tag post.image.rollover.url, :title=> post.title, :alt=> post.excerpt+'...', :link=> post_path(post), :category=> post.categories.last.capitalize %>
      </a>
    <% end %>
  </div>
  <span class="shadow"></span>
</div>
<% end %>

<% if @posts.any? %>

    <ul class="posts articles">
      <% @posts.each do |post| %>
        <li class="post">
          <div>
            <%= link_to(image_tag(post.image.heading.url, :alt => post.title), post_path(post)) %>
            <h3><%= link_to(post.categories.last.capitalize, articles_category_path(post.categories.last), :title => post.categories.last) %></h2>
            <h2><%= link_to(post.title, post_path(post), :title => post.title) %></h2>
            <p class="author date">por <%= post.user.signature %> (<%= post.publish_date.strftime("%d/%m/%y") %>)</p>
            <p class="post"><%= post.excerpt %> ... <%= link_to("seguir leyendo", post_path(post), :title => post.title) %></p>
            <% if !post.tags.nil? %>
              <ul class="tags">
                <%  post.tags.each do |tag| %>
                  <li>
                    <%= link_to(tag, tag_path(tag)) %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <span class="shadow"></span>
        </li>
      <% end %>
    </ul>
<% end %>


<%= link_to("ver más artículos", articles_path, :class=>'view-more') %>

<%= render "site/header_page", :title => 'Últimos vídeos' %>

<ul class="videos">
    <li class="post abdominales">
      <div>
        <span class="video">
          <%= @last_video_abdominales.first.body.try(:html_safe) %>
        </span>
        <h4>Abdominales</h4>
        <h2><%= link_to(@last_video_abdominales.first.title, post_path(@last_video_abdominales.first)) %></h2>
        <p class="date">por <%= @last_video_abdominales.first.user.signature %></p>
        <%= simple_format(@last_video_abdominales.first.excerpt) %>

        <% if !@last_video_abdominales.first.tags.nil? %>
          <ul class="tags">
            <%  @last_video_abdominales.first.tags.each do |tag| %>
            <li><%= link_to(tag, tag_path(tag)) %></li>
            <% end %>
          </ul>
        <% end %>

        <%= link_to("", visual_guide_category_path(@last_video_abdominales.first.to_home_params), :class => css_class(@last_video_abdominales.first)) %>
      </div>
      <span class="shadow"></span>
    </li>
    <li class="post abdominales odd">
      <div>
        <span class="video">
          <%= @last_video_abdominales.last.body.try(:html_safe) %>
        </span>
        <h4>Abdominales</h4>
        <h2><%= link_to(@last_video_abdominales.last.title, post_path(@last_video_abdominales.last)) %></h2>
        <p class="date">por <%= @last_video_abdominales.last.user.signature %></p>
        <%= simple_format(@last_video_abdominales.last.excerpt) %>

        <% if !@last_video_abdominales.last.tags.nil? %>
          <ul class="tags">
            <%  @last_video_abdominales.last.tags.each do |tag| %>
            <li><%= link_to(tag, tag_path(tag)) %></li>
            <% end %>
          </ul>
        <% end %>

        <%= link_to("", visual_guide_category_path(@last_video_abdominales.last.to_home_params), :class => css_class(@last_video_abdominales.last)) %>
      </div>
      <span class="shadow"></span>
    </li>

    <!-- NO ESTIRAMIENTOS -->
    <!-- CUANDO HAYA CONTENIDO, QUITAR UNO DE LOS ABDOMINALES Y PONER EL DE ESTIRAMIENTOS -->
</ul>
<%= link_to("ver más vídeos", visual_guide_path, :class=>'view-more') %>

<%= render "site/header_page", :title => 'Última entrada en el blog' %>

<ul class="posts blog multiple-posts">
    <li class="post">
      <div>
        <%= link_to(image_tag(@last_post.image.heading.url, :alt => @last_post.title), post_path(@last_post)) %>
        <h2><%= link_to(@last_post.title, post_path(@last_post), :title => @last_post.title) %></h2>
        <p class="date">(<%= @last_post.publish_date.strftime("%d/%m/%y") %>)</p>

        <p class="post"><%= @last_post.excerpt %> ... <%= link_to("seguir leyendo", post_path(@last_post), :title => @last_post.title) %></p>

        <% if !@last_post.tags.nil? %>
          <ul class="tags">
            <%  @last_post.tags.each do |tag| %>
            <li><%= link_to(tag, tag_path(tag)) %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <span class="shadow"></span>
    </li>
    <%= link_to("leer más entradas del blog", blog_path, :class=>'view-more') %>
</ul>
