<h1><%= @post.title %></h1>

<%= @post.excerpt.try(:html_safe) %>

<% if @post.image? %>
  <%= image_tag @post.image.heading.url %>
<% end %>

<%= @post.body.try(:html_safe) %>

<p><%= @post.tags.join(' ') %></p>
