<%= stylesheet_link_tag "visual-guide-editorial" %>
<%= javascript_include_tag 'visual-guide-editorial' %>

<% if controller_name == 'book_videos' %>

<%= render "site/header_page", :title => 'Guía visual Editorial' %>

<div class="nav-section editorial">
  <div id="main-book-option" class="box-options">
    <a class="option" onclick="javascript:showBook(0);">Entrénate</a>
    <a class="option current" onclick="javascript:showBook(1);">Mujer en forma</a>
  </div>
</div>

<% end %>

<div class="books-box">
  <ol id="index-books">
    <li id="index-entrenate" class="">
      <a rel="0" onclick="javascript:showBook(0);"></a>
    </li>
    <li id="index-mujer" class="current">
      <a rel="1" onclick="javascript:showBook(1);"></a>
    </li>
  </ol>
  <ul id="books">
    <% @books.each do |book| %>
      <li id="index-<%= book.slug %>">
        <div class="left">
            <%= image_tag "books/"+book.slug+".png", :alt => book.title %>
          <div class="buy">
            <p>Si aún no lo tienes, puedes solicitarlo <%= link_to("aquí", buy_book_path(:id => book.slug)) %></p>
            <%= image_tag "application/credit-card.png", :alt => 'Compra un libro Prowellness' %>

          </div>
        </div>
        <div class="right">
          <h4>Editorial</h4>
          <h3>Consulta los vídeos del libro</h3>
          <h3>"<%= book.title %>"</h3>

          <p>Tan sencillo como introducir el <b>código</b> que encontrarás en el interior del libro y ver el vídeo del ejercicio.</p>

          <%= image_tag "visual-guide/"+book.slug+"-video-example.jpg", :alt => 'Ejemplo de un vídeo de '+book.title %>

          <%= form_tag( visual_guide_editorial_video_path, :method => :post) do %>
            <%= text_field_tag :code, nil, :placeholder => flash[:alert]? 'código incorrecto':'introduce el código'  %>
            <%= hidden_field_tag "id", book.id %>
            <%= submit_tag "ver vídeo" %>
          <% end %>

        </div>
      </li>
    <% end %>
  </ul>
  <span class="shadow"></span>
</div>

