<%= stylesheet_link_tag "visual-guide-editorial" %>
<%= javascript_include_tag 'visual-guide-editorial' %>

<header>
  <span class="left-band"></span>
  <div class="right-band">
    <h2>Guía visual Editorial</h2>
    <div class="fixed-content">
      <span class="triangle"></span>
    </div>
  </div>
</header>

<div class="books-box play-video">
  <div class="content">
    <h4>Editorial</h4>
    <h3>Estás consultando los vídeos del libro "<%= @book.title %>"</h3>
    <p>Si quieres ver otro, introduce su <b>código</b></p>
    <%= link_to '',visual_guide_editorial_path, :class => 'back' %>
    <%= form_tag visual_guide_editorial_video_path, :method => :post do %>
      <%= text_field_tag :code, @book_video.code, :placeholder => "introduce el código" %>
      <%= submit_tag "ver vídeo" %>
    <% end %>
    
    <%=raw @book_video.video %>
    
  </div>
  <span class="shadow"></span>
</div>

