<%= stylesheet_link_tag 'images'%>
<%= javascript_include_tag 'galleria-1.2.5.min','galleria.flickr.min','images' %>

<%= render "site/header_page", :title => 'Galería de imágenes' %>

<% @photo_sets.each do |set| %>

  <div class="photo_sets">
    
    <span class="header">
      <h3><%= set.title.capitalize %></h3>
      <p>(<%= set.photos %> fotos)</p>
    </span>
    
    <div class="gallery">
      <div id="<%= set.id %>" class="content">
        
      </div>
      <span class="shadow"></span>
    </div>
  </div>

<% end %>

