<%= form_tag create_session_path, :id => 'login_form' do %>
  <%= label_tag :email, 'email' %>
  <%= text_field_tag :email, '', :class => (flash[:alert] ? 'error' : nil), :value => (flash[:alert]? flash[:alert]:''), :placeholder => flash[:alert] %>
  <span class="password">
    <%= label_tag :password, 'contraseña' %>
    <%= password_field_tag :password, '', :class => (flash[:alert] ? 'error' : nil) %>
  </span>
  <%= hidden_field_tag 'post_id', @post.try(:id) %>
  <%= submit_tag 'entrar', :class => "login" %>

  <a href="#" class="remember_pass">¿olvidaste tu contraseña?</a>
<% end %>