<!DOCTYPE html>
<html>
<head>
  <title>Prowellness</title>
  <%= stylesheet_link_tag    "admin",'mercury' %>
  <%= javascript_include_tag "admin/admin",'mercury_loader', %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="admin_content">

  <%= flush_the_flash %>

  <%= raw notice_about_drafts %>

  <%= yield %>
  
</div>

</body>
</html>
