<!DOCTYPE html>
<html>
<head>
  <title>ProWellness - Domingo Sánchez</title>
  <%= stylesheet_link_tag "reset","fonts","application" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="prowellness, fitness, deporte, salud, ejercicios">
  <meta name="description" content="Prowellness - Tu web de entrenamiento personal y fitness. Para estar en forma"/>
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>

  <div class="layout">
    <div class="inner-layout header">
      <div class="banner-981x106 ads">
        <p>publicidad</p>
        <div class="banner"></div>
      </div> <!-- banner-top-content -->
    </div>
  </div>

  <header>
    <div class="layout">
      <div class="inner-layout">
        <h1><a href="/">prowellness<em>.es</em></a></h1>
      </div>
    </div>
  </header>

  <nav>
    <div class="layout">
      <div class="inner-layout">
        <a href="/" class="domingo"></a>

        <ul>
          <li class="articles submenu">

            <%= link_to("artículos", articles_path, :class => "#{'selected' if controller_name == 'articles'}") %>

            <div class="options">
              <span class="main-option">
                <%= link_to("artículos", articles_path) %>
              </span>
              <ul>
                <li>
                  <a href="<%= articles_path%>/fitness">fitness</a>
                  <%= image_tag "application/arrow-suboption.png", :alt => 'subption-arrow' %>
                  <a href="#">ejercicios del mes</a>
                </li>
                <li><a href="<%= articles_path%>/mujer">mujer</a></li>
                <li><a href="<%= articles_path%>/nutricion">nutrición</a></li>
                <li><a href="<%= articles_path%>/mi-opinion">mi opiníón</a></li>
              </ul>
            </div>

          </li>
          <li class="visual-guide submenu">

            <%= link_to("guía visual", visual_guide_path, :class => "#{'selected' if controller_name == 'visual_guide_posts'}") %>

            <div class="options">
              <span class="main-option">
                <%= link_to("guía visual", visual_guide_path) %>
              </span>
              <ul>
                <li>
                  <a href="#">editorial</a>
                </li>
                <li>
                  <a href="#">abdominales</a>
                </li>
                <li>
                  <a href="#">estiramientos</a>
                </li>
              </ul>
            </div>
          </li>
          <li><%= link_to("blog", blog_path, :class => "#{'selected' if controller_name == 'blog_posts'}") %></li>
          <li><%= link_to("editorial", books_path, :class => "#{'selected' if controller_name == 'books'}") %></li>
          <li><%= link_to("galería de imágenes", images_path, :class => "#{'selected' if controller_name == 'images'}") %></li>
          <li><%= link_to("sobre prowellness", about_path, :class => "#{'selected' if (controller_name == 'site')&&(action_name == 'about')}") %></li>
        </ul>

        <div class="user_options">
          <ul>
            <% unless logged_in? %>
              <li><%= link_to("registro", new_users_path,:class => "default#{' selected' if controller_name == 'users'}") %></li>
              <li class="submenu login">
                <%= link_to("login", "javascript:void(null)", :class=>'default') %>

                <div class="options">
                  <span class="main-option">
                    <%= link_to("login", "javascript:void(null)") %>
                  </span>

                  <%= render "layouts/login" %>

                  <a href="#" class="remember_pass">¿olvidaste tu contraseña?</a>
                </div>
              </li>
            <% else %>
              <%= render :partial => 'layouts/logged_in' %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>


  <div class="layout">
    <div class="inner-layout">
      <section>
        <%= yield %>
      </section>
      <aside>
        <div class="info-box search">
          <h3>buscador</h3>
          <%= form_tag search_path, :method => :get, :id => 'search' do %>
            <span>
              <%= image_tag "application/icon-len.png", :alt => 'Lupa para buscar' %>
              <input type="search" name="q" placeholder="Escribe lo que necesitas" results="5" />
              <input type="submit" value="buscar" />
            </span>
          <% end %>
        </div>

        <div class="banner-300x250 ads">
          <p>publicidad</p>
          <div class="banner"></div>
        </div>

        <div class="info-box articles">
          <h3>los <em>5</em> artículos más vistos</h3>
          <h4>durante el último mes</h4>
          <span class="kind-box"></span>
          <ul>
            <% Post.find_more_visited.each_with_index do |post, i| %>
            <li <%= cycle('', raw('class="odd"')) %>><p><%= i+1 %>.</p><%= link_to(post.title, post_path(post)) %></li>
            <% end %>
          </ul>
          <a href="<%= articles_path %>" class="more">ver más artículos</a>
        </div>

        <div class="banner-300x100 ads">
          <p>publicidad</p>
          <div class="banner"></div>
        </div>

        <div class="banner-140x100 ads">
          <p>publicidad</p>
          <div class="banner"></div>
          <div class="banner"></div>
        </div>

        <div class="info-box videos">
          <h3>los <em>5</em> vídeos más vistos</h3>
          <h4>durante el último mes</h4>
          <span class="kind-box"></span>
          <ul>
            <li><p>1.</p><a href="#">Abdominales, 5 rutinas para tu cuerpo <span>(fitness)</span></a></li>
            <li class="odd"><p>2.</p><a href="#">Hacer la compra, para una alimentación equilibrada <span>(nutrición)</span></a></li>
            <li><p>3.</p><a href="#">La anemia, cómo evitarla <span>(fitness)</span></a></li>
            <li class="odd"><p>4.</p><a href="#">Estrategias nutricionales para triatlón <span>(nutrición)</span></a></li>
            <li><p>5.</p><a href="#">4 errores de entrenamiento que no te permiten perder peso <span>(fitness)</span></a></li>
          </ul>
          <a href="#" class="more">ver más vídeos</a>
        </div>

        <% if Post.get_last_ejercicio_del_mes %>
        <div class="info-box calendar">
          <h3>ejercicios del mes</h3>
          <h4><%= link_to("cada mes, un ejercicio especial", post_path(Post.get_last_ejercicio_del_mes)) %></h4>
          <span class="kind-box"></span>
        </div>
        <% end %>

      </aside>

    </div>

  </div>

  <footer>
    <div class="layout">

      <div class="inner-layout">

        <div class="left">
          <a href="/" class="logo">prowellness<em>.es</em></a>

          <ul>
            <li>
              <p>visita nuestro facebook</p>
              <a class="facebook" href="http://facebook.com"></a>
            </li>
            <li>
              <p>sígueme en twitter</p>
              <a class="twitter" href="http://twitter.com"></a>
            </li>
            <li>
              <p>consulta nuestro flickr</p>
              <a class="flickr" href="http://flickr.com"></a>
            </li>
            <li>
              <p>envíame un mail</p>
              <a class="mail" href="http://flickr.com"></a>
            </li>
            <li>
              <p>consulta nuestro vimeo</p>
              <a class="vimeo" href="http://vimeo.com"></a>
            </li>
            <li>
              <p>subscríbete a nuestras noticias</p>
              <a class="rss" href="#"></a>
            </li>


          </ul>
        </div>

        <div class="right">
          <nav>
            <ul>
              <li><%= link_to("blog", blog_path, :class => "#{'selected' if controller_name == 'blog_posts'}") %></li>
              <li><%= link_to("guía visual", visual_guide_path, :class => "#{'selected' if controller_name == 'visual_guide_posts'}") %></li>
              <li><%= link_to("artículos", articles_path, :class => "#{'selected' if controller_name == 'articles'}") %></li>
            </ul>
          </nav>
          <div class="sign">
            <%= image_tag "application/bandb.png", :alt => 'Logo Barroso and Blat' %>
            <p>web diseñada y desarrollada por</p>
            <p><a href="http://www.raulbarroso.com" target="_blank" rel="nofollow">Raúl Barroso</a> y <a href="http://fernando.blat.es/" target="_blank" rel="nofollow">Fernando Blat</a></p>
          </div>

        </div>
      </div>


    </div>
  </footer>

</body>
</html>
