<!DOCTYPE html>
<html>
<head>
  <title>Prowellness</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="navigation">
    <ul>
      <li><%= link_to("Blog", blog_path, :class => "#{'selected' if controller_name == 'blog_posts'}") %>
    </ul>
  </div>

  <%= yield %>

</body>
</html>
