<!DOCTYPE html>
<html>
<head>
  <title>ProWellness - Domingo Sánchez</title>
  <%= stylesheet_link_tag "reset","fonts","application" %>
  <%= javascript_include_tag "application","modal_window" %>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="prowellness, fitness, deporte, salud, ejercicios">
  <meta name="description" content="Prowellness - Tu web de entrenamiento personal y fitness. Para estar en forma"/>
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>

  <div class="layout">
    <div class="inner-layout header">
      <div class="banner-981x106 ads">
        <p>publicidad</p>
        <div class="banner">
        <!--[if !IE]> -->
          <object type="application/x-shockwave-flash"
            data="/assets/autopromos/ventaMujer981x105.swf" width="981" height="105">
          <!-- <![endif]-->

          <!--[if IE]>
          <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
            codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
            width="981" height="105">
            <param name="movie" value="/autopromos/ventaMujer981x105.swf" />
          <!--><!--dgx-->
            <param name="loop" value="true" />
            <param name="menu" value="false" />

            <p>contrata tu <b>publicidad</b> aquí</p>
          </object>
          <!-- <![endif]-->
        </div>
      </div> <!-- banner-top-content -->
    </div>
  </div>

  <header>
    <div class="layout">
      <div class="inner-layout">
        <h1><a href="/">prowellness<em>.es</em></a></h1>
      </div>
    </div>
  </header>

  <nav>
    <div class="layout">
      <div class="inner-layout">
        <a href="/" class="domingo"></a>

        <ul>
          <li class="articles submenu">

            <%= link_to("artículos", articles_path, :class => "#{'selected' if controller_name == 'articles'}") %>

            <div class="options">
              <span class="main-option">
                <%= link_to("artículos", articles_path) %>
              </span>
              <ul>
                <li>
                  <a href="<%= articles_path%>/fitness">fitness</a>
                  <%= image_tag "application/arrow-suboption.png", :alt => 'subption-arrow' %>
                  <a href="<%= month_exercises_path %>">ejercicios del mes</a>
                </li>
                <li><a href="<%= articles_path%>/mujer">mujer</a></li>
                <li><a href="<%= articles_path%>/nutricion">nutrición</a></li>
                <li><a href="<%= articles_path%>/mi-opinion">mi opiníón</a></li>
              </ul>
            </div>

          </li>
          <li class="visual-guide submenu">

            <%= link_to("guía visual", visual_guide_path, :class => "#{'selected' if controller_name == 'visual_guide_posts'}") %>

            <div class="options">
              <span class="main-option">
                <%= link_to("guía visual", visual_guide_path) %>
              </span>
              <ul>
                <li>
                  <%= link_to("editorial", visual_guide_editorial_path) %>
                </li>
                <li>
                  <%= link_to('abdominales', visual_guide_category_path("abdominales")) %>
                </li>
<!--                 <li>
                  <%= link_to('estiramientos', visual_guide_category_path("estiramientos")) %>
                </li> -->
              </ul>
            </div>
          </li>
          <li><%= link_to("blog", blog_path, :class => "#{'selected' if controller_name == 'blog_posts'}") %></li>
          <li><%= link_to("editorial", books_path, :class => "#{'selected' if controller_name == 'books'}") %></li>
          <li><%= link_to("galería de imágenes", images_path, :class => "#{'selected' if controller_name == 'images'}") %></li>
          <li><%= link_to("sobre prowellness", about_path, :class => "#{'selected' if (controller_name == 'site')&&(action_name == 'about')}") %></li>
        </ul>

        <div class="user_options">
          <ul>
            <% unless logged_in? %>
              <li><%= link_to("registro", new_users_path,:class => "default#{' selected' if controller_name == 'users'}") %></li>
              <li class="submenu login">
                <%= link_to("login", "javascript:void(null)", :class=>'default') %>

                <div id="login_form" class="options">
                  <span class="main-option">
                    <%= link_to("login", "javascript:void(null)") %>
                  </span>

                  <%= render "layouts/login" %>
                </div>

                <div id="remember_password" class="options">
                  <span class="main-option">
                    <%= link_to("login", "javascript:void(null)") %>
                  </span>

                  <%= render "layouts/remember_password" %>
                </div>


              </li>
            <% else %>
              <%= render :partial => 'layouts/logged_in' %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>


  <div class="layout">
    <div class="inner-layout">
      <section>
        <%= yield %>
      </section>
      <aside>
        <% if controller_name != 'search' %>
          <div class="info-box search">
            <h3>buscador</h3>
            <%= form_tag search_path, :method => :get, :id => 'search' do %>
              <span>
                <%= image_tag "application/icon-len.png", :alt => 'Lupa para buscar' %>
                <input type="search" name="q" placeholder="Escribe lo que necesitas" results="5" />
                <input type="submit" value="buscar" />
              </span>
            <% end %>
          </div>
        <% end %>
        <% if controller_name != "books" %>
        <div id="prowellness_books">
          <h3>¡Compra tu libro Prowellness!</h3>
          <div id="selling_books" class="gallery-books">
            <ul>
              <li>
                <%= link_to(image_tag('application/gallery/mujer-book.png',
                :alt => 'Libro Entrénate'), buy_book_path('mujer'), :class=>'image') %>
                <h5><%= link_to 'Mujer en forma', buy_book_path('mujer') %></h5>
                <p>Explota todas tus cualidades físicas y aprende a conocer todo tu potencial.</p>
                <%= link_to 'más información', buy_book_path('mujer'), :class=>'more_info' %>
                <span class="data">
                  <p>16 cm x 24 cm</p>
                  <p>352 páginas a color</p>
                </span>
              </li>
               <li>
                <%= link_to(image_tag('application/gallery/entrenate-book.png',
                :alt => 'Libro Entrénate'), buy_book_path('entrenate'), :class=>'image') %>
                <h5><%= link_to 'Entrénate con Domingo Sánchez', buy_book_path('entrenate') %></h5>
                <p>Explota todas tus cualidades físicas y aprende a conocer todo tu potencial.</p>
                <%= link_to 'más información', buy_book_path('entrenate'), :class=>'more_info' %>

                <span class="data">
                  <p>16 cm x 24 cm</p>
                  <p>280 páginas a color</p>
                </span>
              </li>
            </ul>
          </div>
        </div> <!-- prowellness_books -->
        <% end %>

        <div class="banner-300x250 ads">
          <p>publicidad</p>
          <div class="banner"></div>
        </div>

        <div class="info-box articles">
          <h3>los <em><%= Post.find_more_visited('articulos').length %></em> artículos más vistos</h3>
          <h4>durante el último mes</h4>
          <span class="kind-box"></span>
          <ul>
            <% Post.find_more_visited('articulos').each_with_index do |post, i| %>
            <li <%= cycle('', raw('class="odd"')) %>><p><%= i+1 %>.</p><%= link_to(post.title, post_path(post)) %></li>
            <% end %>
          </ul>
          <a href="<%= articles_path %>" class="more">ver más artículos</a>
        </div>

        <% if Post.get_last_ejercicio_del_mes && !month_exercise? %>
        <div class="info-box calendar">
          <h3>ejercicio del mes</h3>

          <div class="band">
            <%= link_to(image_tag(Post.get_last_ejercicio_del_mes.image.ejercicio_del_mes.url,
                                  :alt => Post.get_last_ejercicio_del_mes.title),
                        post_path(Post.get_last_ejercicio_del_mes)) %>
            <h4><%= link_to(Post.get_last_ejercicio_del_mes.title, post_path(Post.get_last_ejercicio_del_mes)) %></h4>
          </div>
          <!-- <span class="kind-box"></span> -->
        </div>
        <% end %>

        <div class="banner-300x100 ads">
          <p>publicidad</p>
          <div class="banner"></div>
        </div>

        <div class="banner-140x100 ads">
          <p>publicidad</p>
          <div class="banner"></div>
          <div class="banner"></div>
        </div>

        <div class="info-box last-videos">
          <h3>los <em><%= Post.find_more_visited('guia-visual').length %></em> ejercicios más vistos</h3>
          <h4>de la guía visual en el último mes </h4>
          <span class="kind-box"></span>
          <ul>
            <% Post.find_more_visited('guia-visual').each_with_index do |post, i| %>
            <li <%= cycle('', raw('class="odd"')) %>><p><%= i+1 %>.</p><%= link_to(raw(post.title + ' <span>(' + translate_category(post.categories.last).downcase + ')</span>'), post_path(post)) %></li>
            <% end %>
          </ul>
          <a href="<%= visual_guide_path %>" class="more">ver más vídeos</a>
        </div>
      </aside>

    </div>

  </div>

  <footer>
    <div class="layout">

      <div class="inner-layout">

        <div class="left">
          <a href="/" class="logo">prowellness<em>.es</em></a>

          <ul>
            <li>
              <p>envíame un mail</p>
              <a class="mail" href="mailto:dsanchez@prowellness.es"></a>
            </li>
            <li>
              <p>visita nuestro facebook</p>
              <a class="facebook" href="http://www.facebook.com/domingo.sanchez1" target="_blank"></a>
            </li>
            <li>
              <p>sígueme en twitter</p>
              <a class="twitter" href="http://twitter.com/domingosanchez_/prowellness" target="_blank"></a>
            </li>
            <li>
              <p>consulta nuestro flickr</p>
              <a class="flickr" href="http://www.flickr.com/photos/prowellness/" target="_blank"></a>
            </li>
            <li>
              <p>consulta nuestro vimeo</p>
              <a class="vimeo" href="http://vimeo.com/user8690369"></a>
            </li>
            <!-- <li>
              <p>subscríbete a nuestras noticias</p>
              <a class="rss" href="#"></a>
            </li> -->


          </ul>
        </div>

        <div class="right">
          <nav>
            <ul>
              <li><%= link_to("sobre prowellness", about_path, :class => "#{'selected' if (controller_name == 'site')&&(action_name == 'about')}") %></li>
              <li><%= link_to("galería de imágenes", images_path, :class => "#{'selected' if controller_name == 'images'}") %></li>
              <li><%= link_to("editorial", books_path, :class => "#{'selected' if controller_name == 'books'}") %></li>
              <li><%= link_to("blog", blog_path, :class => "#{'selected' if controller_name == 'blog_posts'}") %></li>
              <li class="suboptions">
                <%= link_to("guía visual", visual_guide_path, :class => "#{'selected' if controller_name == 'visual_guide_posts'}") %>
                <ul>
                  <li>
                    <%= link_to("editorial", visual_guide_editorial_path) %>
                  </li>
                  <li>
                    <%= link_to('abdominales', visual_guide_category_path("abdominales")) %>
                  </li>
                  <li>
                    <%= link_to('estiramientos', visual_guide_category_path("estiramientos")) %>
                </ul>
              </li>
              <li class="suboptions">
                <%= link_to("artículos", articles_path, :class => "#{'selected' if controller_name == 'articles'}") %>
                <ul>
                  <li class="with-subcategories">
                    <a href="<%= articles_path%>/fitness">fitness</a>
                    <ul>
                      <li><a href="<%= articles_path%>/fitness">ejercicios del mes</a></li>
                    </ul>
                  </li>
                  <li><a href="<%= articles_path%>/mujer">mujer</a></li>
                  <li><a href="<%= articles_path%>/nutricion">nutrición</a></li>
                  <li><a href="<%= articles_path%>/mi-opinion">mi opiníón</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <div class="sign">
            <%= image_tag "application/bandb.png", :alt => 'Logo Barroso and Blat' %>
            <p>web diseñada y desarrollada por</p>
            <p><a href="http://www.raulbarroso.com" target="_blank" rel="nofollow">Raúl Barroso</a> y <a href="http://fernando.blat.es/" target="_blank" rel="nofollow">Fernando Blat</a></p>
          </div>

        </div>
      </div>

    </div>
  </footer>

  <!-- ERRORS IN LOGIN PROCESS -->
  <% if flash[:alert] && flash[:show_login] %>
    <script type="text/javascript">
      showLoginWindow($('li.login #login_form'));
    </script>
  <% end %>
  <% if flash[:login_required_front] %>
    <%= render :partial => "shared/login_required_front" %>
    <script type="text/javascript">
      MODAL.open('#forbidden_access');
    </script>
  <% end %>
  <% if flash[:modal_signup] %>
    <%= render :partial => "shared/signup_success" %>
    <script type="text/javascript">
      MODAL.open('#register_pending_confirmation');
    </script>
  <% end %>

  <%= render :partial => "shared/password_sent_it" %>
  <script type="text/javascript">
    <% if flash[:alert] && flash[:show_password_reset] %>
      $('#login_form').hide();
      $('#remember_password').show();
      $('#remember_password').find('input[type="text"]').focus();
    <% end %>
    <% unless flash[:password_reset_success].blank? %>
      MODAL.open('#remember_pass_sent_it');
    <% end %>
  </script>


</body>
</html>
